@tailwind base;
@tailwind components;
@tailwind utilities;

.loaded{
    opacity: 1;
}
.left-4p{
    left: 4%;
}
.text-clamp-h2{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.text-clamp-p{
    font-size: clamp(.8rem, 2.5vw, 1.3rem);
}
.text-clamp-p2{
    font-size: clamp(.8rem, 2.5vw, 1rem);
}
.top-11p{
    top: 11%;
}